*,
:after,
:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: Arial,'Helvetica Neue', Helvetica, sans-serif;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    height: 100%;
}
.wrapper{
    min-height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.timer:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 3;
    background-color: #fff;
    animation: mask_left 10s steps(1, end) forwards;
}
.timer:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 3;
    background-color: #7a956b;
    animation: mask_right 10s steps(1, end) forwards;
}
.timer_line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: line 10s linear forwards;
}
.timer_line:after{
    content:"";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #7a956b;
    position: absolute;
}
.timer_body{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    overflow: hidden;
    z-index: 4;
}

.timer_counter{
    animation: counter 10s steps(9, end) forwards;
}
.timer_counter span{
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes counter {
    0%{
    }
    100%{
        transform: translate(0px, -900px);
    }
}
@keyframes line {
    0%{
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes mask_left{
    0%{
        visibility: visible;
    }
    50% { }
    100%{
        visibility: hidden;
    }
}
@keyframes mask_right{
    0%{
        visibility: hidden;
    }
    50% { }
    100%{
        visibility: visible;
    }
}
